*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.products{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 1em;
  /* gap: .5em; */
}

.productone{
    /* border: 2px solid blue; */
    width: fit-content;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 4px aliceblue;
    background-color:rgb(240, 235, 235); 
    border-radius: 2em;
    cursor: pointer;
}

.productone img{
    height: 250px;
    width: 300px;
    object-fit: cover;
    display: block;
}
.producttwo{
    /* border: 2px solid blue; */
    width: fit-content;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 4px aliceblue;
   background-color:rgb(240, 235, 235);
    border-radius: 2em;
    cursor: pointer;
}
.producttwo img{
    height: 250px;
    width: 300px;
    object-fit: cover;
}
.productthree{
    width: fit-content;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 4px aliceblue;
   background-color:rgb(240, 235, 235);
   border-radius: 2em;
    cursor: pointer;
}
.productthree img{
    height: 250px;
    width: 300px;
    object-fit: cover;
}

.productfour{
    width: fit-content;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 4px aliceblue;
  background-color:rgb(240, 235, 235);
   border-radius: 2em;
    cursor: pointer;
}
.productfour img{
    height: 250px;
    width: 300px;
    object-fit: cover;
}
.productfive{
    width: fit-content;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 4px aliceblue;
    background-color:rgb(240, 235, 235);
    border-radius: 2em;
    cursor: pointer;
}
.productfive img{
    height: 250px;
    width: 300px;
    object-fit: cover;
}
.productsix{
    width: fit-content;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 4px aliceblue;
   background-color:rgb(240, 235, 235);
    border-radius: 2em;
    cursor: pointer;
}
.productsix img{
    height: 250px;
    width: 300px;
    object-fit: cover;
}

.allProducts{
    width: fit-content;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 4px aliceblue;
    background-color:rgb(240, 235, 235);
    border-radius: 2em;
    margin-top: 1em;
    cursor:wait;
}
.allProducts img{
    height: 250px;
    width: 300px;
    object-fit: cover;
}
.allProducts img:hover{
    transform: scaleX(-1);
    /* transform: scaleY(-1); */
}
